<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="checkoutModal" class="modal">
    <form action="/shopping-cart/" method="post" id="user-registration">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Customer Registration</h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body-personal-data">
                <h3>Personal Data</h3>
                <br>
                <input style="position: center"type="text" id="modal-name"
                       name="modal-name" placeholder="Name" required="required">
                <br>
                <input style="position: center" type="text" id="modal-email"
                       name="modal-email" placeholder="E-Mail" required="required">
                <br>
                <input style="position: center" type="text" id="modal-phone-number"
                       name="modal-phone-number" placeholder="Phone Number">
            </div>
            <div class="modal-body-billing-address">
                <h3>Billing Address</h3>
                <br>
                <input style="position: center"type="text" id="modal-country"
                       name="modal-country-billing" placeholder="Country">
                <br>
                <input style="position: center" type="text" id="modal-city"
                       name="modal-city-billing" placeholder="City">
                <br>
                <input style="position: center" type="text" id="modal-zipcode"
                       name="modal-zipcode-billing" placeholder="ZIP code">
                <br>
                <input style="position: center" type="text" id="modal-address"
                       name="modal-address-billing" placeholder="Address">
            </div>
            <div class="modal-body-personal-data">
                <h3>Shipping Address</h3>
                <br>
                <input style="position: center"type="text" id="modal-country-shipping"
                       name="modal-country-shipping" placeholder="Country">
                <br>
                <input style="position: center" type="text" id="modal-city-shipping"
                       name="modal-city-shipping" placeholder="City">
                <br>
                <input style="position: center" type="text" id="modal-zipcode-shipping"
                       name="modal-zipcode-shipping" placeholder="ZIP code">
                <br>
                <input style="position: center" type="text" id="modal-address-shipping"
                       name="modal-address-shipping" placeholder="Address">
            </div>
            <div class="modal-footer">
                <button id="user-registration-btn" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>